/* external css for apps (e.g., Dash) in flask server */

.label {
    font-weight: bold;
    margin-top: 10px;
}

.input {
    margin: 10px 0;
    width: 100%;
    height: 30px;
}

.button {
    margin-top: 20px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.output {
    margin-top: 20px;
    text-align: center;
}

.fixed-sidebar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.fixed-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fixed-sidebar li {
    margin: 5px 0;
}

.fixed-sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

.fixed-sidebar a:hover {
    background-color: #f0f0f0;
    color: #007BFF;
}