body {
    background-color: #f8f9fa;
}
pre {
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #ab9a9a; /* #d7d7d7 */
}
.code-line {
    display: block;
}
.container {
    /* max-width: 80%; */
    margin: 0 auto;
    padding: 10px; /* 여백 추가 */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.fixed-sidebar {
    position: fixed;
    right: 20px; /* 오른쪽 여백 */
    bottom: 20px; /* 아래쪽 여백 */
    background-color: rgba(255, 255, 255, 0.8); /* 배경색 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

.fixed-sidebar ul {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

.fixed-sidebar li {
    margin: 5px 0; /* 아이템 간격 */
}

.fixed-sidebar a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 링크 색상 */
    display: block; /* 블록 요소로 만들어 클릭 영역을 확장 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 3px; /* 모서리 둥글게 */
}

.fixed-sidebar a:hover {
    background-color: #f0f0f0; /* hover 시 배경색 변화 */
    color: #007BFF; /* hover 시 링크 색상 변화 */
}