/* external css for templates/index.html */

body {
    background-color: #f8f9fa;
}
pre {
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #ab9a9a;
}
.code-line {
    display: block;
}
.container {
    margin: 0 auto;
    padding: 10px;
}

.fixed-sidebar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fixed-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fixed-sidebar li {
    margin: 5px 0;
}

.fixed-sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 3px;
}

.fixed-sidebar a:hover {
    background-color: #f0f0f0;
    color: #007BFF;
}